@font-face {
    font-family: 'digital-clock-font';
    src: url('../font/digital-7.mono.ttf');
}

.btn-lg {
    width: 3rem;
    height: 3rem;
}

.song-display {
    font-family: 'digital-clock-font', sans-serif;
    font-size: 30pt;
    color: orange;
    line-height: 0.5em;
    height: 2.5em;
}

.row {
    margin-top: 2em;
}

div.card-body td {
    padding-right: 1em;
}